.error-message {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  color: #d32f2f;
  vertical-align: middle;
}

.text-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pre-wrap {
  white-space: pre-wrap;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}