.v-data-table {
  table {
    tbody {
      tr {

        a {
          color: rgba(0, 0, 0, 0.87);
          text-decoration: none;
        }

        .drag-handle {
          color: rgb(0, 0, 0, 0.2);
        }

        &:not(.not-dragged-row):hover {
          background-color: rgba(33, 150, 243, 0.2) !important;

          a {
            color: #1876D2 !important;
            font-weight: bold;
          }

          .drag-handle {
            color: rgb(0, 0, 0, 1);
          }

          a:hover {
            text-decoration: underline;
          }
        }

        &.not-dragged-row:hover {
          background-color: white !important;
        }
      }
    }
  }
}